@model GiangVien

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Are you sure you want to delete this?</h6>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
                <a href="#">@Html.DisplayFor(model => model.Email)</a>
            </dd>

            <dt>Mã GV</dt>
            <dd>
                @Html.DisplayFor(model => model.MaGV)
            </dd>

            <dt>Học vị</dt>
            <dd>
                @Html.DisplayFor(model => model.HocVi)
            </dd>

            <dt>Họ và tên</dt>
            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa luôn" class="btn btn-danger" /> |
                <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>
