@model SoGhiBai

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="Loai" value="0" checked>Ghi SĐB
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="Loai" value="1">Báo nghỉ
            </label>
        </div>
        <div class="form-check-inline disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="Loai" value="2">Dạy bù
            </label>
        </div>
        @Html.ActionLink("Quay lại", "Index", new { id = Model.idTKB })
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("Edit", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ghi sổ" class="btn btn-primary" /> |
                @Html.ActionLink("Quay lại", "Index", new { id = Model.idTKB })
            </div>
        </div>
    </div>
}

@section Scripts {
    <link href="~/Content/tempusdominus.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment-locales.js"></script>
    <script src="~/Scripts/tempusdominus.js"></script>
    <script src="~/Scripts/autosize.min.js"></script>
    <script>
        $(function () {
            autosize($('#NDGiangDay'));
            $('#datetimepicker4').datetimepicker({
                format: 'D/M/YYYY'
            });
            $('#datetimepicker2,#datetimepicker3').datetimepicker({
                format: 'HH:mm'
            });
            $('[name=Loai]').click(function () {
                if ($('[name=Loai]:checked').val() == 1)
                    $('#SoTietDay,#MaPhong,#ThoiGianBD,#ThoiGianKT,#TongSoSV,#NhanXetSV,#DeXuat').attr('readonly', true);
                else
                    $('[readonly=readonly]').attr('readonly', false);
                switch ($('[name=Loai]:checked').val()) {
                    case '0':
                        $('[for=NDGiangDay]').text('Nội dung giảng dạy');
                        break;
                    case '1':
                        $('[for=NDGiangDay]').text('Lý do cho nghỉ');
                        break;
                    case '2':
                        $('[for=NDGiangDay]').text('Nội dung dạy bù');
                        break;
                }
            });
            $('.form-check-input[value=@Model.Loai]').trigger('click').trigger('click');
        });
    </script>
}
