@model IEnumerable<SoGhiBai>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">@((ViewBag.TKB as ThoiKhoaBieu).TenMH)</h6>
        <a href="@Url.Action("Create", new { id = (ViewBag.TKB as ThoiKhoaBieu).id })" class="btn btn-success btn-circle btn-sm float-right">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã ngành</th>
                        <th>Tên ngành</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGianKT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGianKT)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDGiangDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTietDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanXetSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongSoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTKB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiKhoaBieu.MaMH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDGiangDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTietDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanXetSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTKB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiKhoaBieu.MaMH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
