@using SoDauBai.Controllers
@model IEnumerable<SoGhiBai>
@{
    var count = 1;
    var TKB = ViewBag.TKB as ThoiKhoaBieu;
    var GVs = ViewBag.GVs as List<GiangVien>;
    var TKBs = ViewBag.TKBs as List<ThoiKhoaBieu>;
    var KhoaSo = (int)ViewBag.KhoaSo;
    var start = Model.Count() > 0 ? Model.Min(s => s.NgayDay) : DateTime.MinValue;
    int demNghi = 0, tongBu = Model.Count(sdb => sdb.Loai == 2);
    var buoiGhi = Model.Where(sdb => sdb.NgayDay <= DateTime.Now).Count();
    var buoiDay = SoDauBaiController.countSoBuoiDay(TKBs);
    var tile = (int)((double)buoiGhi * 100 / buoiDay);
    var hour = Model.Where(sdb => sdb.Loai != 1).Count(sdb => (int)sdb.ThoiGianKT.Subtract(sdb.ThoiGianBD).TotalMinutes);
    var more = Model.Count(sdb => sdb.Loai == 1) - Model.Count(sdb => sdb.Loai == 2);
    var ngayBD = Model.Min(sdb => sdb.NgayDay, DateTime.MaxValue);
    int tuanBD = TKBs.Max(tkb => tkb.TuanBD), tuanKT = TKBs.Max(tkb => tkb.TuanKT);
    var ngayKT = ngayBD < DateTime.MaxValue ? ngayBD.AddDays((tuanKT - tuanBD + 1) * 7) : DateTime.MinValue;
    //BanCanSu
    var SoGhiChu = TKBs.Merge(tkb => tkb.SoGhiChus).Where(sgc => sgc.Email == User.Identity.Name).OrderBy(sgc => sgc.NgayGhi).ToList();
    var isBanCanSu = false; // La BanCanSu
    var back = ViewContext.RouteData.Values["id"];
}
@helper DisplaySGC(SoGhiChu soGhiChu, object back)
{
    var KhoaSo = (int)ViewBag.KhoaSo;
    <tr style="font-style:italic">
        <td>
            @if (soGhiChu.Email == User.Identity.Name && (DateTime.Today - soGhiChu.NgayGhi).TotalDays < KhoaSo)
            {
                <a href="@Url.Action("Update", "BanCanSu", new { id = soGhiChu.id, back })" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            }
        </td>
        <td colspan="2">
            Ngày @soGhiChu.NgayGhi.ToString("dd/MM/yyyy"), giờ học từ @soGhiChu.GioBD.ToString(@"hh\:mm") đến @(soGhiChu.GioKT?.ToString(@"hh\:mm"))
        </td>
        <td>@soGhiChu.NoiDung</td>
        <td>
            @for (int i = 0; i < 5; i++)
            {
                <span><i class="@(i < soGhiChu.DanhGia ? "fas" : "far") fa-star"></i></span>
            }
        </td>
        <td>
            @if (soGhiChu.Email == User.Identity.Name && (DateTime.Today - soGhiChu.NgayGhi).TotalDays < KhoaSo)
            {
                <a href="@Url.Action("Delete", "BanCanSu", new { id = soGhiChu.id, back })" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            }
        </td>
    </tr>
}
<link rel="stylesheet" href="~/Content/font-awesome-animation.min.css">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <span class="badge badge-info" style="float:right" onclick="$('#DSSV').modal()">
            <a href="#" style="color:whitesmoke;cursor:help">DSSV <i class="fas fa-question-circle"></i></a>
        </span>
        @foreach (var tkb in TKBs.OrderBy(tkb => tkb.ThuKieuSo))
        {
            var Tiet = new int[TKB.SoTiet];
            Tiet.For(0, TKB.SoTiet - 1, i => Tiet[i] = TKB.TietBD + i);
            var GV = GVs.FirstOrDefault(gv => gv.MaGV == tkb.MaGV).Init();
            <h6 class="m-0 font-weight-bold text-primary d-inline">
                @tkb.NhomTo - @tkb.TenMH -
                <abbr title="Giảng viên @GV.HocVi @GV.HoTen">
                    <i class="fas fa-user-tie"></i>
                </abbr>
                @foreach (var pg in tkb.PhuGiangs)
                {
                    GV = GVs.FirstOrDefault(gv => gv.MaGV == pg.MaGV).Init();
                    <abbr title="Giảng viên @GV.HocVi @GV.HoTen">
                        <i class="fas fa-user-tie"></i>
                    </abbr>
                }
                - Thứ @tkb.ThuKieuSo, tiết @String.Join("", Tiet) #P: @tkb.MaPH
            </h6>
            <span class="badge">@(tkb.ToTH == null ? "LT" : "TH")</span>
            if (tkb.BanCanSus.Count() > 0)
            {
                var num = 1;
                foreach (var bcs in tkb.BanCanSus)
                {
                    <abbr title="Ban cán sự, thành viên @(num++): @bcs.Email">
                        <i class="fas fa-user-graduate text-warning"></i>
                    </abbr>
                }
            }
            else
            {
                <abbr title="Chưa chọn Ban cán sự lớp Học phần">
                    <i class="fas fa-exclamation faa-flash /*animated*/ text-danger"></i>
                </abbr>
            }
            if (User.IsInTKB(tkb.id))
            {
                <a href="@Url.Action("Update", "ThoiKhoaBieu", new { tkb.id, back })" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            }
            <br />
        }
        @if (Model.Count() > 0)
        {
            tile = ngayKT < DateTime.Today.AddDays(1) && TKB.HocKy == 191 ? 100 : tile;
            var color = tile <= 25 ? "danger" : tile <= 50 ? "warning" : tile <= 75 ? "info" : tile <= 100 ? "success" : "primary";
            <div class="progress" style="margin-top:1rem">
                <div class="progress-bar bg-@color progress-bar-striped" role="progressbar" aria-valuenow="@tile" aria-valuemin="0" aria-valuemax="100" style="width: @tile%">
                    <span>
                        @if (ngayKT < DateTime.Now)
                        {
                            <span>Đã giảng dạy @Math.Round(hour / 45.0) giờ.</span>
                        }
                        else
                        {
                            <span>Đã ghi @tile % ~@Math.Round(hour / 45.0) giờ.</span>
                            <b>@(more > 0 ? String.Format("Cần dạy bù {0} buổi.", more) : null)</b>
                        }
                        <span onclick="javascript:void(window.location.href='@Url.Action("ThongKe", new { id = TKB.id })')" style="cursor:pointer">Xem thống kê...</span>
                        <i class="fa fa-hand-point-left faa-passing-reverse animated"></i>
                    </span>
                </div>
            </div>
        }
        @if (DateTime.Today.AddDays(1) < ngayKT || ngayKT == DateTime.MinValue)
        {
            foreach (var tkb in TKBs)
            {
                var thuKieuSo = CONST.THU[(int)DateTime.Today.DayOfWeek];
                if (tkb.ThuKieuSo == thuKieuSo && User.IsInBCS(tkb.id))
                {
                    isBanCanSu = true;
                    var email = User.Identity.Name;
                    if (tkb.SoGhiChus.Count(sgc => sgc.NgayGhi.Date == DateTime.Today && sgc.Email == email) == 0)
                    {
                        <div style="margin-top:1rem">
                            <a href="@Url.Action("Create", "BanCanSu", new { id = tkb.id, back })">[<b>BanCánSự</b>] Ghi thông tin về buổi học T@(thuKieuSo) ngày @DateTime.Today.ToString("dd/MM/yyyy") (<i class="text-warning">click here</i>)</a>
                        </div>
                        break;
                    }
                }
            }
        }
    </div>
    <div class="card-body">
        <div class="table-responsive wrapper1 d-md-hidden">
            <div id="scrollbar" style="height:1px"></div>
        </div>
        <div class="table-responsive wrapper2">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thời gian</th>
                        <th>Phòng</th>
                        <th>Nội dung</th>
                        <th>Nhận xét</th>
                        <th>
                            @{
                                var myTKB = TKBs.Where(tkb => User.IsInTKB(tkb.id));
                                if (myTKB.Count() == 1)
                                {
                                    <a href="@Url.Action("Create", new { myTKB.Single().id, back })" class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                }
                                if (myTKB.Count() > 1)
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-success btn-circle btn-sm" type="button" id="ghiSoDauBai" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="ghiSoDauBai">
                                            @foreach (var tkb in myTKB.OrderBy(t => t.ThuKieuSo))
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Create", new { tkb.id, back })">Lớp ngày Thứ @tkb.ThuKieuSo</a>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ SoGhiBai prev = null; }
                    @foreach (var item in Model.OrderBy(s => s.NgayDay))
                    {
                        var style = item.Loai == 1 ?
                            ++demNghi > tongBu ? "table-danger" : "table-warning" :
                            item.Loai == 2 ? "table-success" : null;
                        var span = item.DeXuat.IsNullOrEmptyOrWhiteSpace() ? 1 : 2;
                        if (isBanCanSu && SoGhiChu.Count > 0 && SoGhiChu[0].NgayGhi < item.NgayDay)
                        {
                            @DisplaySGC(SoGhiChu[0], back)
                            SoGhiChu.RemoveAt(0);
                        }
                        <tr class="@style" style="@(prev != null && item.NgayDay == prev.NgayDay && item.ThoiGianBD == prev.ThoiGianBD ? "text-decoration:line-through" : null)">
                            <td rowspan="@span">
                                <span style="white-space:nowrap">Buổi @(count++)</span>
                                <br />
                                <span style="white-space:nowrap">Tuần @((int)(item.NgayDay - start).TotalDays / 7 + 1)</span>
                            </td>
                            <td rowspan="@span">
                                @item.NgayDay.DayOfWeek
                                <br />
                                @item.NgayDay.ToString("dd/MM/yyyy")
                                <br />
                                <span style="white-space:nowrap">@item.ThoiGianBD.ToString(@"hh\:mm") - @item.ThoiGianKT.ToString(@"hh\:mm")</span>
                            </td>
                            <td rowspan="@span">
                                P#@item.MaPhong
                                <br />
                                @item.TongSoSV<span>SV</span>
                            </td>
                            <td>
                                @foreach (var line in (item.NDGiangDay ?? "").Split('\n'))
                                {
                                    if (!String.IsNullOrEmpty((line ?? "").Trim()))
                                    {
                                        <span>@line</span><br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var line in (item.NhanXetSV ?? "").Split('\n'))
                                {
                                    if (!String.IsNullOrEmpty((line ?? "").Trim()))
                                    {
                                        <span>@line</span><br />
                                    }
                                }
                            </td>
                            <td rowspan="@span">
                                @if (User.IsInTKB(item.ThoiKhoaBieu.id) && User.IsInSDB(item.id)
                                        && (DateTime.Today - item.NgayDay).Days < KhoaSo + 1)
                                {
                                    <a href="@Url.Action("Edit", new { id = item.id, back })" class="btn btn-warning btn-circle btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.id, back })" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                                <a title="@item.Email" data-content="@item.NgayTao" data-toggle="popover" data-placement="left" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-info"></i>
                                </a>
                            </td>
                        </tr>
                        if (span == 2)
                        {
                            <tr>
                                <td colspan="@span">
                                    @item.DeXuat
                                    @if (!String.IsNullOrEmpty(item.XemDeXuat))
                                    {
                                        <a data-content="Đã được tiếp nhận bởi @item.XemDeXuat" data-toggle="popover" class="btn btn-success btn-circle btn-sm">
                                            <i class="fas fa-user-check"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                        prev = item;
                    }
                    @if (isBanCanSu && SoGhiChu.Count > 0)
                    {
                        foreach (var item in SoGhiChu)
                        {
                            @DisplaySGC(item, back)
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    abbr {
        text-decoration: none !important
    }
</style>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
            // for a dummy scrollbar on mobile devices
            $('#scrollbar').width($('#dataTable').width());
            $(".wrapper1").scroll(function () {
                $(".wrapper2").scrollLeft($(".wrapper1").scrollLeft());
            });
            $(".wrapper2").scroll(function () {
                $(".wrapper1").scrollLeft($(".wrapper2").scrollLeft());
            });
        });
    </script>
}

<div class="modal fade" id="DSSV" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>Thầy / cô vào trang <a href="https://online.vlu.edu.vn/" target="_blank">online.vlu.edu.vn</a> và thực hiện theo hướng dẫn ở hình bên dưới để lấy danh sách sinh viên đăng ký vào lớp.</span>
                <img class="img-fluid img-rounded" src="~/Content/DSSVfromOnline.jpg" />
            </div>
        </div>
    </div>
</div>
