@model IEnumerable<SoGhiBai>
@{ 
    var count = 1;
    var TKB = ViewBag.TKB as ThoiKhoaBieu;
    var Tiet = new int[TKB.SoTiet];
    Tiet.For(0, TKB.SoTiet - 1, i => Tiet[i] = TKB.TietBD + i);
    var start = Model.Count() > 0 ? Model.Min(s => s.NgayDay) : DateTime.MinValue;
    int demNghi = 0, tongBu = Model.Count(sdb => sdb.Loai == 2);
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">@TKB.TenMH - Thứ @TKB.ThuKieuSo, tiết @String.Join("", Tiet) #P:@TKB.MaPH</h6>
        <a href="@Url.Action("Create", new { id = (ViewBag.TKB as ThoiKhoaBieu).id })" class="btn btn-success btn-circle btn-sm float-right">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thời gian</th>
                        <th>Phòng</th>
                        <th>Nội dung</th>
                        <th>Nhận xét</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(s => s.NgayDay))
                    {
                        var style = item.Loai == 1 ?
                            ++demNghi > tongBu ? "table-danger" : "table-warning" :
                            item.Loai == 2 ? "table-success" : null;
                        <tr class="@style">
                            <td rowspan="2">
                                Buổi @(count++)
                                <br />
                                Tuần @((item.NgayDay - start).TotalDays / 7 + 1)
                            </td>
                            <td rowspan="2">
                                @item.NgayDay.ToString("dd/MM/yyyy")
                                <br />
                                @item.ThoiGianBD.ToString(@"hh\:mm") - @item.ThoiGianKT.ToString(@"hh\:mm")
                            </td>
                            <td rowspan="2">
                                P#@item.MaPhong
                                <br />
                                @item.TongSoSV<span>SV</span>
                            </td>
                            <td>
                                @item.NDGiangDay
                            </td>
                            <td>
                                @item.NhanXetSV
                            </td>
                            <td rowspan="2">
                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#" title="@item.Email" data-content="@item.NgayTao" data-toggle="popover" data-placement="left" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-info"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">@item.DeXuat</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}