@model SoGhiChu

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Are you sure you want to delete this?</h6>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                Ngày ghi
            </dt>
            <dd>
                @Model.NgayGhi.ToString("d/M/yyyy")
            </dd>

            <dt>
                Thời gian
            </dt>
            <dd>
                @Model.GioBD.ToString(@"hh\:mm") ~ @(Model.GioKT?.ToString(@"hh\:mm"))
            </dd>

            <dt>
                Hài lòng
            </dt>
            <dd>
                @Model.DanhGia
            </dd>

            <dt>
                Ý kiến khác
            </dt>
            <dd>
                @Model.NoiDung
            </dd>

            <dt>
                Người ghi
            </dt>
            <dd>
                <a href="#">@Model.Email</a>
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa luôn" class="btn btn-danger" /> |
                <a href="@Url.Action("Index", "SoDauBai", new { id = ViewData["Back"] ?? Model.idTKB })" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>
