@model IEnumerable<ThoiKhoaBieu>

@helper Display(string content)
{
    if (content.Length < 10)
    {
        <span>@content</span>
    }
    else
    {
        <abbr title="@content">@content.Substring(0, 10)</abbr>
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">
            Thời khóa biểu HK
        </h6>
        <div class="float-right">
            <a href="@Url.Action("Template_TKB")" target="_blank">Template</a> |
            <a href="javascript:void($('#UploadFile').click())" class="btn btn-primary btn-circle btn-sm">
                <i class="fas fa-upload"></i>
            </a>
        </div>
        @using (Html.BeginForm("Upload", "ThoiKhoaBieu", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.TextBox("UploadFile", null, new { type = "file", style = "display:none" })
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên MH</th>
                        <th><abbr title="Số Tín Chỉ">TC</abbr></th>
                        <th><abbr title="NhomTo:ToTH:TenToHop">Nhóm Tổ</abbr></th>
                        <th><abbr title="Mã Ngành">N</abbr></th>
                        <th>Mã Lớp</th>
                        <th>Tên Lớp</th>
                        <th><abbr title="Tổng số SV">SV</abbr></th>
                        <th><abbr title="ThuKieuSo:TietBD-SoTiet">TKB</abbr></th>
                        <th>Mã GV</th>
                        <th>Mã PH</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaMH-@item.TenMH</td>
                            <td>@item.SoTinChi</td>
                            <td>@item.NhomTo:@item.ToTH:@item.TenToHop</td>
                            <td>@item.MaNganh</td>
                            <td>@Display(item.MaLop)</td>
                            <td>@Display(item.TenLop)</td>
                            <td>@item.TongSoSV</td>
                            <td>T@(item.ThuKieuSo)<br />@item.TietBD~@(item.TietBD + item.SoTiet - 1)</td>
                            <td>@item.MaGV</td>
                            <td>@item.MaPH</td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable({
                stateSave: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json'
                }
            });

            $('#UploadFile').change(function () {
                if ($(this).val().length > 1) {
                    $('#UploadForm').submit();
                    $.blockUI();
                }
            });
        });
    </script>
}
