@model IEnumerable<ThoiKhoaBieu>
@{
    var count = 1;
    var errors = Model.Count(tkb => tkb.MaMH == null);
}

@helper Display(string content) {
    if (content.Length < 10)
    {
        <span>@content</span>
    }
    else
    {
        <abbr title="@content">@content.Substring(0, 10)</abbr>
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        @if (errors > 0)
        {
            <h6 class="m-0 font-weight-bold text-danger">Có @errors/@Model.Count() dòng bị lỗi. Vui lòng xem <a href="#error">bên dưới</a>!</h6>
        }
        else
        {
            var group = Model.GroupBy(tkb => new { tkb.MaMH, tkb.NhomTo, tkb.ToTH, tkb.TenToHop });
            if (group.Count() != Model.Count())
            {
                <h6 class="m-0 font-weight-bold text-danger">Có @(Model.Count() - group.Count()) buổi dạy bị trùng mã (MaMH-NhomTo-ToTH-TenToHop)!</h6>
            }
            else
            {
                using (Html.BeginForm("Create", "ThoiKhoaBieu", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group mb-2">
                        <h6 class="m-0 font-weight-bold text-success">Nhập TKB @Model.Count() Lớp cho Học kỳ:</h6>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input name="HocKy" type="number" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Xác nhận</button>
                    <span class="mb-2">|</span>
                    <a href="@Url.Action("Index")" class="btn btn-default mb-2">Quay lại</a>
                }
            }
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã MH</th>
                        <th>Tên MH</th>
                        <th><abbr title="Số Tín Chỉ">TC</abbr></th>
                        <th><abbr title="NhomTo:ToTH:TenToHop">Nhóm Tổ</abbr></th>
                        <th><abbr title="Mã Ngành">N</abbr></th>
                        <th>Mã Lớp</th>
                        <th>Tên Lớp</th>
                        <th><abbr title="Tổng số SV">SV</abbr></th>
                        <th><abbr title="ThuKieuSo:TietBD-SoTiet">TKB</abbr></th>
                        <th>Mã GV</th>
                        <th>Mã PH</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            @if (String.IsNullOrEmpty(item.MaMH))
                            {
                                <td colspan="15" id="error">
                                    <span class="text-danger">@item.TenMH</span>
                                </td>
                            }
                            else
                            {
                                <td>@item.MaMH</td>
                                <td>@item.TenMH</td>
                                <td>@item.SoTinChi</td>
                                <td>
                                    <span class="text-@(Model.Count(tkb => tkb.MaMH == item.MaMH && tkb.NhomTo == item.NhomTo && tkb.ToTH == item.ToTH && tkb.TenToHop == item.TenToHop) > 1 ? "danger" : "normal")">
                                        @item.NhomTo:@item.ToTH:@item.TenToHop
                                    </span>
                                </td>
                                <td>@item.MaNganh</td>
                                <td>@Display(item.MaLop)</td>
                                <td>@Display(item.TenLop)</td>
                                <td>@item.TongSoSV</td>
                                <td>@item.ThuKieuSo:@item.TietBD-@item.SoTiet</td>
                                <td>@item.MaGV</td>
                                <td>@item.MaPH</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.floatThead.js"></script>
    <script>
        $(function () {
            var $table = $('#dataTable');
            $table.floatThead({
                responsiveContainer: function ($table) {
                    return $table.closest('.table-responsive');
                }
            });
        });
    </script>
}
