@model IEnumerable<CauHinh>
@{
    var khoaSo = Model.First(c => c.ThamSo == CONFIG.KHOA_SO).GiaTri.ToIntOrDefault(0);
    var noEmail = Model.First(c => c.ThamSo == CONFIG.NO_EMAIL).GiaTri;
    var pCNTT = Model.First(c => c.ThamSo == CONFIG.EP_CNTT).GiaTri;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cấu hình hệ thống</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <strong>Khóa Ghi/Sửa/Xóa thông tin buổi dạy sau</strong>
                        <input type="number" name="khoaSo" value="@khoaSo" required />
                        <strong>ngày.</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <strong>Email phòng CNTT:</strong>
                        <input type="text" name="pCNTT" value="@pCNTT" />
                        <em>(để nhận mail đăng ký dạy bù trong phòng máy)</em>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <strong>Danh sách không nhận email:</strong>
                        <input type="text" name="noEmail" value="@noEmail" placeholder="email," />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                        <span class="text-warning">@TempData["Message"]</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('[name=noEmail],[name=pCNTT]').on('keypress focusout', function () {
                if (this.value.length > 0) {
                    this.style.width = ((this.value.length + 1) * 10) + 'px';
                } else {
                    this.style.width = (($(this).attr('placeholder').length + 1) * 10) + 'px';
                }
            }).trigger('keypress');
        });
    </script>
}
