@using Microsoft.AspNet.Identity
@model IEnumerable<LienHe>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Liên hệ/ Báo lỗi</h6>
        <a href="@Url.Action("Create")" class="btn btn-success btn-circle btn-sm float-right">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Câu hỏi</th>
                        <th>Trả lời</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.from<br />
                                <b><pre>@item.Question</pre></b>
                                <abbr title="@item.on">@item.on.ToString("dd/MM/yyyy")</abbr>
                                @if (item.from == User.Identity.GetUserName())
                                {
                                    <a href="@Url.Action("Update", new { id = item.id })" class="text-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                }
                            </td>
                            <td>
                                @item.to<br />
                                <b><i><pre>@item.Answer</pre></i></b>
                                <abbr title="@item.at">@(item.at.HasValue ? item.at.Value.ToString("dd/MM/yyyy") : null)</abbr>
                                @if (User.IsInRole("HoTro"))
                                {
                                    <a href="@Url.Action("Answer", new { id = item.id })" class="text-primary">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                }
                            </td>
                            <td>
                                @if (User.IsInRole("HoTro"))
                                {
                                    <a href="@Url.Action("Delete", new { id = item.id })" class="text-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    pre {
        white-space: pre-wrap;
    }
</style>

@section Scripts {
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable({
                stateSave: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json'
                }
            });
        });
    </script>
}
