@model IEnumerable<ThoiKhoaBieu>
@{
    var rand = new Random();
    var GiangViens = ViewBag.GiangViens as List<GiangVien>;
    var color = new string[] { "info", "primary", "success", "warning", "danger" };
}

<div class="row">
    @foreach (var item in Model.OrderBy(tkb => tkb.TietBD).ThenBy(tkb => tkb.TenMH))
    {
        var tietDay = new int[item.SoTiet];
        tietDay.For(0, item.SoTiet - 1, i => tietDay[i] = item.TietBD + i);
        var giangVien = GiangViens.SingleOrDefault(gv => gv.MaGV == item.MaGV).Init();
        <div class="col-md-3 mb-4">
            <div class="card bg-@color[rand.Next(color.Length)] text-white shadow">
                <div class="card-body">
                    <a class="text-white" href="@Url.Action("Index", "SoDauBai", new { id = item.id })">@item.TenMH</a>
                    <div class="text-white-50 small">
                        #@item.MaPH tiết
                        @foreach (var tiet in tietDay)
                        {
                            <span class="badge badge-secondary">@tiet</span>
                        }
                    </div>
                    <div class="small">@giangVien.HocVi @giangVien.HoTen</div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.Count() == 0)
{
    <img src="~/Content/anh-co-so-3.jpg" style="max-width:100%" />
}
