@using SoDauBai.Controllers
@model IEnumerable<ThoiKhoaBieu>
@{ 
    var GiangViens = ViewBag.GiangViens as List<GiangVien>;
    var GuiEmails = ViewBag.GuiEmails as List<GuiEmail>;
}

@helper Display(IEnumerable<ThoiKhoaBieu> TKB, List<GiangVien> GV, List<GuiEmail> Emails)
{
    var item = TKB.First();
    var maGV = TKB.Select(tkb => tkb.MaGV).Distinct().ToArray();
    var giangVien = GV.Where(gv => maGV.Contains(gv.MaGV)).Select(gv => gv.HoTen + " - " + gv.MaGV).ToArray();
    var sinhVien = (int)TKB.AverageOrDefault(tkb => tkb.SoGhiBais.AverageOrDefault(sdb => sdb.TongSoSV));
    var buoiGhi = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 0));
    var buoiNghi = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 1));
    var buoiBu = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 2));
    var tietDay = TKB.Sum(tkb => tkb.SoGhiBais.Where(sdb => sdb.Loai != 1).Sum(sdb => sdb.SoTietDay));
    var nhacNho = Emails.Count(e => e.Tag == item.id);
    var email = GV.FirstOrDefault(gv => gv.MaGV == item.MaGV).Init().Email;
    var buoiDay = SoDauBaiController.countSoBuoiDay(TKB.ToList());
    var buoiNghi2 = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 1 && sdb.NgayDay <= DateTime.Now));
    <tr>
        <td>
            <a href="@Url.Action("Index", "SoDauBai", new { id = item.id })" target="_blank">
                <abbr title="@item.MaMH - @item.MaLop">@item.TenMH</abbr> - @item.NhomTo
                @if (item.ToTH != null) { <span class="badge badge-primary">TH</span> }
            </a>
        </td>
        <td><i>@String.Join(", ", giangVien)</i></td>
        <td data-order="@sinhVien.Div(item.TongSoSV)">@sinhVien/@item.TongSoSV</td>
        <td data-order="@((buoiGhi+buoiBu+buoiNghi2).Div(buoiDay))">@(buoiGhi+buoiBu+buoiNghi2)/@buoiDay</td>
        <td>@tietDay</td>
        <td data-order="@buoiBu.Div(buoiNghi)">@buoiBu/@buoiNghi</td>
        <td>
            <a href="#" id="@item.id" data-content="@String.Format("ThuKieuSo: {0}\nTietBD: {1}\nSoTiet: {2}\nMaPH: {3}\nMaLop: {4}\nTenLop: {5}", item.ThuKieuSo, item.TietBD, item.SoTiet, item.MaPH, item.MaLop, item.TenLop)" data-toggle="popover" data-placement="left">
                <i class="fas fa-info"></i>
            </a>
            @if (!(email != null && email.StartsWith("ACDM") && email.EndsWith("@gmail.com")))
            {
                if (nhacNho > 0)
                {
                    <a title="Đã nhắc @nhacNho lần" href="@Url.Action("GuiMailNhacNho", new { id = item.id })">
                        <span class="badge badge-danger">@nhacNho</span>
                    </a>
                }
                else
                {
                    <a title="Gửi mail nhắc nhở" href="@Url.Action("GuiMailNhacNho", new { id = item.id })" class="text-warning">
                        <i class="fas fa-envelope"></i>
                    </a>
                }
            }
        </td>
    </tr>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Thống kê các môn học</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Lớp học</th>
                        <th>Giảng viên</th>
                        <th>Số SV</th>
                        <th>Ghi sổ</th>
                        <th>Số giờ</th>
                        <th>Dạy bù</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.GroupBy(tkb => new { tkb.MaMH, tkb.NhomTo, tkb.ToTH }))
                    {
                        @Display(group.ToArray(), GiangViens, GuiEmails)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            $('#dataTable').DataTable({
                stateSave: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json'
                },
                dom: '<"row"<"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
            });
        });
    </script>
}
