@model IEnumerable<ThoiKhoaBieu>
@{ 
    var GiangViens = ViewBag.GiangViens as List<GiangVien>;
}

@helper Display(IEnumerable<ThoiKhoaBieu> TKB, List<GiangVien> GV)
{
    var item = TKB.First();
    var maGV = TKB.Select(tkb => tkb.MaGV).Distinct().ToArray();
    var giangVien = GV.Where(gv => maGV.Contains(gv.MaGV)).Select(gv => gv.HoTen).ToArray();
    var sinhVien = (int)TKB.AverageOrDefault(tkb => tkb.SoGhiBais.AverageOrDefault(sdb => sdb.TongSoSV));
    var buoiDay = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 0));
    var buoiNghi = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 1));
    var buoiBu = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 2));
    var tietDay = TKB.Sum(tkb => tkb.SoGhiBais.Where(sdb => sdb.Loai != 1).Sum(sdb => sdb.SoTietDay));

    <tr>
        <td>
            <a href="@Url.Action("Index", "SoDauBai", new { id = item.id })" target="_blank">
                <abbr title="@item.MaMH">@item.TenMH</abbr>
            </a>
            <br />
            <i>@String.Join(", ", giangVien)</i>
        </td>
        <td>@sinhVien/@item.TongSoSV</td>
        <td>@(buoiDay+buoiBu)</td>
        <td>@tietDay</td>
        <td>@buoiBu/@buoiNghi</td>
        <td>
            <a id="@item.id" data-content="@String.Format("ThuKieuSo: {0}\nTietBD: {1}\nSoTiet: {2}\nMaPH: {3}\nMaLop: {4}\nTenLop: {5}", item.ThuKieuSo, item.TietBD, item.SoTiet, item.MaPH, item.MaLop, item.TenLop)" data-toggle="popover" data-placement="left" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-info"></i>
            </a>
        </td>
    </tr>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Thống kê các môn học HK @Html.DropDownList("HocKy")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Lớp học</th>
                        <th>Số SV</th>
                        <th>Buổi dạy</th>
                        <th>Tiết dạy</th>
                        <th>Dạy bù</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.GroupBy(tkb => new { tkb.MaMH, tkb.NhomTo, tkb.ToTH }))
                    {
                        @Display(group.ToArray(), GiangViens)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            $('#dataTable').DataTable({
                stateSave: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json'
                }
            });

            $('#HocKy').change(function () {
                location.replace('@Url.Action("ThongKeChung", new { id = 0 })' + $(this).val());
            });
        });
    </script>
}
