@using SoDauBai.Controllers
@model IEnumerable<ThoiKhoaBieu>
@{ 
    var NganhHocs = ViewBag.NganhHocs as List<NganhHoc>;
    var GiangViens = ViewBag.GiangViens as List<GiangVien>;
    var GuiEmails = ViewBag.GuiEmails as List<GuiEmail>;
}

@helper Display(IEnumerable<ThoiKhoaBieu> TKB, List<NganhHoc> N, List<GiangVien> GV, List<GuiEmail> Emails)
{
    var item = TKB.First();
    var maGV = TKB.Select(tkb => tkb.MaGV).Distinct().ToArray();
    var giangVien = GV.Where(gv => maGV.Contains(gv.MaGV)).Select(gv => gv.HoTen + " - " + gv.MaGV).ToArray();
    var buoiGhi = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 0));
    var buoiNghi = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 1));
    var buoiBu = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 2));
    //var tietDay = TKB.Sum(tkb => tkb.SoGhiBais.Where(sdb => sdb.Loai != 1).Sum(sdb => sdb.SoTietDay));
    var nhacNho = Emails.Count(e => e.Tag == item.id);
    var email = GV.FirstOrDefault(gv => gv.MaGV == item.MaGV).Init().Email;
    var buoiDay = SoDauBaiController.countSoBuoiDay(TKB.ToList());
    var buoiNghi2 = TKB.Count(tkb => tkb.SoGhiBais.Count(sdb => sdb.Loai == 1 && sdb.NgayDay <= DateTime.Now));
    <tr>
        <td>
            <a href="@Url.Action("Index", "SoDauBai", new { id = item.id })" target="_blank">
                <abbr title="@item.MaMH - @item.MaLop">@item.TenMH</abbr> - @item.NhomTo
                @if (item.ToTH != null) { <span class="badge badge-primary">TH</span> }
            </a>
        </td>
        <td style="display:none">@item.NhomTo</td>
        <td>@(N.Find(n => n.MaNganh == item.MaNganh)?.TenNganh ?? item.MaNganh)</td>
        <td><i>@String.Join(", ", giangVien)</i></td>
        <td style="display:none">@String.Join(",", giangVien.Select(gv => gv?.Split('-').Last().Trim()))</td>
        <td>@(buoiGhi+buoiBu+buoiNghi2)/@buoiDay</td>
        <td data-order="@TKB.Min(tkb => tkb.TuanBD)" data-search="Tuan_@TKB.Min(tkb => tkb.TuanBD)">
            @TKB.Min(tkb => tkb.TuanBD) - @TKB.Max(tkb => tkb.TuanKT)
        </td>@*buoiDay*@
        <!--td>tietDay</td-->
        <td data-order="@buoiBu.Div(buoiNghi)">@buoiBu/@buoiNghi</td>
        <td>
            <a href="#" id="@item.id" data-content="@String.Format("ThuKieuSo: {0}\nTietBD: {1}\nSoTiet: {2}\nMaPH: {3}\nMaLop: {4}\nTenLop: {5}", item.ThuKieuSo, item.TietBD, item.SoTiet, item.MaPH, item.MaLop, item.TenLop)" data-toggle="popover" data-placement="left">
                <i class="fas fa-info"></i>
            </a>
            @if (!(email != null && email.StartsWith("ACDM") && email.EndsWith("@gmail.com")))
            {
                if (nhacNho > 0)
                {
                    <a title="Đã nhắc @nhacNho lần" href="@Url.Action("GuiMailNhacNho", new { id = item.id })">
                        <span class="badge badge-danger">@nhacNho</span>
                    </a>
                }
                else
                {
                    <a title="Gửi mail nhắc nhở" href="@Url.Action("GuiMailNhacNho", new { id = item.id })" class="text-warning" target="_blank" onclick="$(this).hide()">
                        <i class="fas fa-envelope"></i>
                    </a>
                }
            }
        </td>
    </tr>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Thống kê các môn học trong học kỳ</h6>
        <span style="float:right"><em>Hint: Nhập Tuan_? để lọc tuần bắt đầu từ ?</em></span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Lớp học phần</th>
                        <th style="display:none">Nhóm tổ</th>
                        <th id="Nganh">
                            @Html.DropDownList("Nganh", new SelectList(Model.Select(tkb => tkb.MaNganh).Distinct()
                                 .Select(m => NganhHocs.Find(n => n.MaNganh == m)?.TenNganh.Take(15).AsString() ?? m)
                                 .OrderBy(s => s)), "Ngành")
                        </th>
                        <th>Giảng viên</th>
                        <th style="display:none">Mã GV</th>
                        <th id="GhiSo">Ghi sổ</th>
                        <th id="KeHoach">
                            <abbr title="Số buổi dạy theo kế hoạch (giả sử dạy 15 tuần nếu chưa có dữ liệu)">Kế hoạch</abbr>
                        </th>
                        <!--th id="SoGio">Số giờ</th-->
                        <th id="DayBu">Dạy bù</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.GroupBy(tkb => new { tkb.MaMH, tkb.NhomTo, tkb.ToTH }))
                    {
                        @Display(group.ToArray(), NganhHocs, GiangViens, GuiEmails)
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align:right">Tổng</td>
                        <td id="GhiSo"></td>
                        <td id="KeHoach"></td>
                        <!--td id="SoGio"></td-->
                        <td id="DayBu"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            var table = $('#dataTable').DataTable({
                stateSave: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json'
                },
                dom: '<"row"<"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                drawCallback: function () {
                    var sum1 = 0, sum2 = 0;
                    $.each(table.column('#GhiSo', { search: 'applied' }).data(), function () {
                        sum1 += parseInt(this) || 0;
                    });
                    $('td#GhiSo').text(sum1);
                    sum1 = 0;
                    $.each(table.column('#KeHoach', { search: 'applied' }).data(), function () {
                        sum1 += parseInt(this) || 0;
                    });
                    $('td#KeHoach').text(sum1);
                    sum1 = 0;
                    $.each(table.column('#SoGio', { search: 'applied' }).data(), function () {
                        sum1 += parseInt(this) || 0;
                    });
                    $('td#SoGio').text(sum1);
                    sum1 = 0;
                    $.each(table.column('#DayBu', { search: 'applied' }).data(), function () {
                        var value = this.split('/');
                        sum1 += parseInt(value[0]) || 0;
                        sum2 += parseInt(value[1]) || 0;
                    });
                    $('td#DayBu').text(sum1 + '/' + sum2);
                }
            });
            $('[name=Nganh]').change(function () {
                table.column('#Nganh').search($(this).val()).draw();
            });
        });
    </script>
}
