@using SoDauBai.Controllers
@model IEnumerable<ThoiKhoaBieu>

@helper Display(List<ThoiKhoaBieu> group)
{
    var item = group.First();
    var GVs = ViewBag.GVs as List<GiangVien>;
    var buoiDay = SoDauBaiController.countSoBuoiDay(group);
    var buoiGhi = group.Merge(tkb => tkb.SoGhiBais).Count(sdb => sdb.Loai != 1 || (sdb.Loai == 1 && sdb.NgayDay <= DateTime.Now));
    var ngayBD = group.Min(tkb => tkb.SoGhiBais.Min(sdb => sdb.NgayDay, DateTime.MaxValue));
    int tuanBD = group.Min(tkb => tkb.TuanBD), tuanKT = group.Max(tkb => tkb.TuanKT);
    var ngayKT = ngayBD < DateTime.MaxValue ? ngayBD.AddDays((tuanKT - tuanBD + 1) * 7) : DateTime.MinValue;
    // if one lecturer teach both LyThuyet and ThucHanh
    int? oneId = (group.Count == 2 && group.Count(tkb => tkb.ToTH == null) == 1 && group.Count(tkb => tkb.ToTH != null) == 1
               && group.Count(tkb => tkb.MaGV == item.MaGV) == 2) ? group.Single(tkb => tkb.ToTH != null).id : new Nullable<int>();
    <div class="col-xl-4 col-md-6 mb-4 course">
        <div class="card border-left-@(ngayKT < DateTime.Today && item.HocKy == 191 ? "info" : buoiGhi < buoiDay ? "danger" : buoiGhi == buoiDay ? "primary" : "warning") shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <i>@item.MaMH - @item.SoTinChi<span>TC</span> (@item.TongSoSV<span>SV</span>)</i>
                            <span class="text-success" style="float:right">Nhóm @item.NhomTo</span>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <h4>@item.TenMH</h4>
                        </div>
                        <abbr class="small" title="@item.TenLop">
                            <span class="badge badge-primary" style="font-size:100%">
                                @(item.ToTH == null ? "LT" : "TH")
                            </span>
                            <span class="badge badge-default" style="font-size:100%">
                                @item.TongSoSV@("SV")
                            </span>
                            #@item.MaLop
                        </abbr>
                        <br />
                        @foreach (var tkb in group)
                        {
                            var isInTKB = User.IsInTKB(tkb.id) || User.IsInBCS(tkb.id);
                            var GV = GVs.FirstOrDefault(gv => gv.MaGV == tkb.MaGV);
                            var phong = PhongDayBuController.countPhongDayBu(tkb.id);
                            <div class="filter" ThuKieuSo="@tkb.ThuKieuSo">
                                @if (tkb != item && tkb.ToTH != item.ToTH)
                                {
                                    item = tkb;
                                    <br />
                                    <abbr class="small" title="@item.TenLop">
                                        <span class="badge badge-primary" style="font-size:100%">
                                            @(item.ToTH == null ? "LT" : "TH")
                                        </span>
                                        <span class="badge badge-default" style="font-size:100%">
                                            @item.TongSoSV@("SV")
                                        </span>
                                        #@item.MaLop
                                    </abbr>
                                    <br />
                                }
                                <div style="font-weight:bold">
                                    <a href="@Url.Action("Index", "SoDauBai", new { id = oneId ?? tkb.id })" class="btn btn-@(isInTKB ? "primary" : "info") @(!isInTKB ? "disabled" : null) filter">
                                        @String.Format("Phòng {0}: Thứ {1} tiết {2} - {3}", tkb.MaPH, tkb.ThuKieuSo, tkb.TietBD, tkb.TietBD + tkb.SoTiet - 1)
                                    </a>
                                </div>
                                <span class="small">
                                    @(GV != null ? (!String.IsNullOrEmpty(GV.HocVi) ? GV.HocVi : "GV") + " " + GV.HoTen : null)
                                </span>
                                <span class="badge badge-success">
                                    <i class="fas fa-book-open"></i>
                                    @tkb.SoGhiBais.Count()
                                </span>
                                @if (phong > 0)
                                {
                                    <span class="badge badge-warning">
                                        <i class="fas fa-folder"></i>
                                        @phong
                                    </span>
                                }
                                @if (!isInTKB)
                                {
                                    <a href="@Url.Action("Index", "SoDauBai", new { id = oneId ?? tkb.id })">
                                        <span class="badge badge-default">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                    <!--div class="col-auto">
                        <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                    </div-->
                </div>
            </div>
        </div>
        @if (group.Sum(tkb => tkb.SoGhiBais.Count()) > 0)
        {
            if (ngayKT < DateTime.Today)
            {
                <span class="stamp" style="margin-top:-30px;margin-right:-20px">Kết thúc</span>
            }
        }
    </div>
}

<style>
    .stamp {
        display: inline-block;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        -webkit-mask-image: url('@Url.Content("~/Content/grunge.png")');
        mix-blend-mode: multiply;
        color: #C4C4C4;
        border: 0.1rem solid #C4C4C4;
        transform: rotate(-14deg);
        float: right;
    }
</style>

@helper DisplayColorfulBadge(string text, Random rand)
{
    var color = string.Empty;
    switch (rand.Next() % 6)
    {
        case 0:
            color = "default";
            break;
        case 1:
            color = "primary";
            break;
        case 2:
            color = "success";
            break;
        case 3:
            color = "info";
            break;
        case 4:
            color = "warning";
            break;
        case 5:
            color = "danger";
            break;
    }
    <span class="badge badge-@color" style="float:right">@text</span>
}

@{
    var rand = new Random(Environment.TickCount);
}

<link rel="stylesheet" href="~/Content/font-awesome-animation.min.css">

<div class="btn-group" style="position:fixed;right:0;z-index:1000" title="Lọc hiển thị">
    <button type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-search faa-horizontal animated"></i>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="filter(0)">Tất cả @DisplayColorfulBadge("ALL", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(2)">Thứ Hai @DisplayColorfulBadge("MON", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(3)">Thứ Ba @DisplayColorfulBadge("TUE", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(4)">Thứ Tư @DisplayColorfulBadge("WED", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(5)">Thứ Năm @DisplayColorfulBadge("THU", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(6)">Thứ Sáu @DisplayColorfulBadge("FRI", rand)</a>
        <a class="dropdown-item" href="#" onclick="filter(7)">Thứ Bảy @DisplayColorfulBadge("SAT", rand)</a>
    </div>
</div>

<div class="row" style="@(Model.Count() == 0 ? "display:none" : null)">
    <span class="text-primary">Thời khóa biểu ngày hôm nay:</span>
    @{
        var today = new int[18];
        foreach (var tkb in Model.Where(tkb => CONST.DAY[tkb.ThuKieuSo] == (int)DateTime.Today.DayOfWeek).OrderBy(tkb => tkb.TietBD))
        {
            if (User.IsInTKB(tkb.id))
            {
                for (int i = 0; i < tkb.SoTiet; i++)
                {
                    today[tkb.TietBD + i] = tkb.id;
                }
            }
        }
        var letter = 'A';
        for (int i = 1; i < today.Length; i++)
        {
            <span class="badge" style="font-size:100%;padding-right:0">
                @if (today[i] > 0)
                {
                    var id = today[i];
                    var course = "" + letter;
                    for (i = i + 1; i < today.Length; i++)
                    {
                        if (today[i] == today[i - 1])
                        {
                            course = course + ' ' + letter;
                        }
                        else
                        {
                            i = i - 1;
                            letter++;
                            break;
                        }
                    }
                    <a href="@Url.Action("Index", "SoDauBai", new { id })" class="text-warning">@course</a>
                }
                else
                {
                    @(i % 10)
                }
            </span>
        }
    }
    <a href="#" data-toggle="modal" data-target="#timeTable">
        <i style="padding-left:0.4em">Xem tất cả...</i>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="timeTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <colgroup>
                            <col span="1" style="width:10%" />
                            @for (int i = 2; i <= 8; i++)
                            {
                                <col span="1" style="width:13%" />
                            }
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Giờ</th>
                                @for (int i = 2; i <= 8; i++)
                                {
                                    <th>
                                        @(i < 8 ? "Thứ " + i : "Chủ nhật")
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var week = new ThoiKhoaBieu[9][];
                                for (int i = 0; i < week.Length; i++)
                                {
                                    week[i] = new ThoiKhoaBieu[18];
                                }
                                foreach (var tkb in Model)
                                {
                                    for (int i = 0; i < tkb.SoTiet; i++)
                                    {
                                        week[tkb.ThuKieuSo][tkb.TietBD + i] = tkb;
                                    }
                                }
                            }
                            @for (int j = 1; j < week[0].Length; j++)
                            {
                                <tr>
                                    <td><b>@j</b></td>
                                    @for (int i = 2; i < week.Length; i++)
                                    {
                                        if (week[i][j] != null)
                                        {
                                            if (week[i][j] != week[i][j - 1])
                                            {
                                                <td rowspan="@week[i][j].SoTiet" style="border:solid">
                                                    <a href="@Url.Action("Index", "SoDauBai", new { id = week[i][j].id })">@week[i][j].TenMH</a>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!-- Content Row -->
<div class="row">
    @foreach (var group in Model.GroupBy(tkb => new { tkb.MaMH, tkb.NhomTo }))
    {
        if (group.Count(tkb => !String.IsNullOrEmpty(tkb.ToTH)) > 0)
        {
            var theory = group.Where(tkb => String.IsNullOrEmpty(tkb.ToTH)).OrderBy(tkb => tkb.ThuKieuSo).ToList();
            foreach (var practice in group.Where(tkb => !String.IsNullOrEmpty(tkb.ToTH)).GroupBy(tkb => tkb.ToTH))
            {
                //var model = new List<ThoiKhoaBieu>(theory);
                theory.AddRange(practice.OrderBy(tkb => tkb.ThuKieuSo));
                if (theory.Select(tkb => tkb.id).Distinct().Count(id => User.IsInTKB(id) || User.IsInTKB(id)) > 0)
                {
                }
            }
            @Display(theory)
        }
        else
        {
            @Display(group.OrderBy(g => g.ThuKieuSo).ToList())
        }
    }
</div>

@if (Model.Count() == 0)
{
    if (!User.Identity.Name.EndsWith("@vanlanguni.vn"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Không tìm thấy lớp học phần nào của thầy/cô ở học kỳ hiện tại!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <img src="~/Content/anh-co-so-3.jpg" style="max-width:100%" />
}

<script>
    function filter(thuKieuSo) {
        $('div.course').show();
        if (thuKieuSo == 0)
            $('div.filter').show();
        else {
            $('div.filter').hide();
            $('div[ThuKieuSo=' + thuKieuSo + ']').each(function () {
                if ($(this).find('a.filter.disabled').length == 0)
                    $(this).show();
            });
            $('div.course').each(function () {
                if ($(this).find('a.filter:visible').length == 0)
                    $(this).hide();
            });
        }
    }
</script>

@if (ViewBag.Message != null)
{
    <script>
        alert('@ViewBag.Message');
    </script>
}
